.events-list {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
    margin-left: 34em;
    margin-right: 30em;
    margin-bottom: 72px;
    border-radius: 12px;
}

img {
    padding-left: 6.5em;
    padding-top: 40px;
    width: 450px;
}


.card-title {
    padding-top: 20px;
    font-weight: bold;
}
.card-description {
    padding-top: 20px;
    font-weight: normal;
    padding-bottom: 20px;
}